@import "tailwindcss";

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
}

body, #root {
  @apply bg-gray-100;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #333;
}

body {
  display: block;
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f0f0f0;
    background-color: #242424;
  }
}